
.logo {
  height: 1.6rem;
  width: 6rem;
}


.clicked_tab {
  background-color: white;
  /*box-shadow: 0 2px 6px rgba(45, 45, 45, 0.25);*/
  border-radius: 0.5rem 0.5rem 0 0;
  /*border: #dadada 1px solid;*/
  border-bottom: none;

}

.not_clicked_tab:hover {
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: #fafafa;
}

.tab {
  width: 50%;
  text-align: center;
  padding: 0.5rem;

}

.tabs {
  background: #e8e8e8;
  /*background: linear-gradient(180deg, white 0%,#f3f3f3 100%);*/
  padding: 0.3rem 1rem 0 1rem;


}

.blinking {
  height: 1rem;
  width: 1rem;

  -webkit-animation: 1s blink ease infinite;
  -moz-animation: 1s blink ease infinite;
  -ms-animation: 1s blink ease infinite;
  -o-animation: 1s blink ease infinite;
  animation: 1s blink ease infinite;

}



.menu__icon {
  width: 32px;
  color: #c7bcad;
  display: block;
}

.search__icon {
  width: 22px;
  fill: #c7bcad;
}


.content_cn_s {
  padding: 0.5rem;
}

.item img {
  border-radius: 20px;
  width: 100%;
  object-fit: cover;
}

.channel_select {
  display: block;
  border: 1px solid gainsboro;
  width: 90vw;
  margin: 0.3rem auto;
  padding: 0.4rem 1rem;
  border-radius: 7px;
  background-color: white;
}

#show_search ~ form {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease;;
}

#show_search:checked ~ form {
  max-height: 3rem;
}


.menu_box {
  position: absolute;
  left: 0;
  background-color: white;
  width: 14rem;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid gainsboro;
  box-shadow: 0 2px 6px rgba(45, 45, 45, 0.25);
}

.menu_box img {
  display: block;
  margin: auto;
}

.close-x {
  background-color: #f3f3f3;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.close-x:hover{
  background-color: #d7d7d7;

}

.form__button{
  background-color: #eeeeee;
  border: none;
}
.form__button:hover{
  background-color: white;
  border: 1px solid gainsboro;
}
.icon__button{
  border-radius: 50%;
  min-width: 3rem;
  min-height: 3rem;
}

.icon__button:hover{
  background-color: #eeeeee;

}

.pointer {
  cursor: pointer;
}

#show_menu ~ section {
  visibility: hidden;
  transition: 0.3s ease;
  opacity: 0;
}

#show_menu:checked ~ section {
  visibility: visible;
  opacity: 1;
}






@keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-ms-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-o-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
