.masonry {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 5px;
}

.item {
  padding: 5px;
  cursor: pointer;

}


@media (min-width: 1080px) {
  .masonry {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media (min-width: 1400px) {
  .masonry {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


